<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>HAMSTR-WHL add sample data</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.css">
				<style>
					ol {
						list-style-type: none;
					}
				</style>
        <script>
        </script>
    </head>
    <body>
        <section class="section has-text-centered">
            <a href="/"><h1 class="title">HAMSTR-WHL</h1></a>
        </section>
        <section class="section has-text-centered">
						<form method="POST">
								<label for="target_dir">Sample directory:</label><br>
								<input type="text" id="target_dir" name="target_dir"><br>
								<input type="submit" value="Submit">
						</form>
						{% if error %}
								<p class="help is-danger">{{ error }}</p>
						{% endif %}
						{% if genes and sample %}
								<br>
								<p><b>Sample: </b>{{ sample }}<br><b>Found and added data for the following genes: </b></p>
								<p>
								{% for gene in genes %}
										{% if loop.index is divisibleby 5 %}
												<br>
										{% endif %}
										{{ gene }}
								{% endfor %}
								</p>
						{% endif %}
        </section>
    </body>
</html>
