<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HAMSTR-WHL Gene Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.css">
    <link rel="stylesheet" href="/static/style.css">
    <style>
      .table td {
      border: none;
      }
    </style>
    <script>
      function toggle_note() {
      	var form = document.getElementById("note_form");
      	var toggle = document.getElementById("note_toggle");
      	if (form.style.display === "none") {
      		form.style.display = "block";
      		toggle.innerHTML = "Cancel"
            toggle.classList.remove("is-success")
            toggle.classList.add("is-danger")
      	} else {
      		form.style.display = "none";
      		toggle.innerHTML = "Add Note"
            toggle.classList.remove("is-danger")
            toggle.classList.add("is-success")
      	}
      }
      function toggle_edit() {
      	var form = document.getElementById("status_form");
      	var toggle = document.getElementById("edit_toggle");
      	if (form.style.display === "none") {
      		form.style.display = "block";
      		toggle.innerHTML = "Cancel"
            toggle.classList.remove("is-success")
            toggle.classList.add("is-danger")
      	} else {
      		form.style.display = "none";
      		toggle.innerHTML = "Edit Status"
            toggle.classList.remove("is-danger")
            toggle.classList.add("is-warning")
      	}
      }
    </script>
  </head>
  <body>
    <section class="section has-text-centered">
      <a href="/">
        <img class="logo" src="/static/logo1.png">
        <h1 class="title is-1">HAMSTR-WHL</h1>
      </a>
    </section>
    <section class="section has-text-centered">
      {% if error %}
      <h1 class="subtitle" style="color:hsl(348, 100%, 61%)">{{error}}</h1>
      <a href="/sample/{{sample}}"><button class="button">Return to Sample page {{sample}}</button></a>
      {% elif gene_info %}
      <div class="columns">
        <div class="column is-three-quarters">
          <h1 class="title">{{gene_info[0]}}</h1>
          <div class="table-container">
            <table class="table has-text-left center">
              <tr>
                <td><b>Chromosome: </b></td>
                <td>{{gene_info[1]}}</td>
              <tr>
                <td><b>Phenotype: </b></td>
                <td>{{gene_info[2]}}</td>
              <tr>
                <td><b>Inheritance Mode: </b></td>
                {% if gene_info[3] == "AD"%}
                <td>Autosomal Dominant</td>
                {% elif gene_info[3] == "AR" %}
                <td>Autosomal Recessive</td>
                {% elif gene_info[3] == "XL" %}
                <td>X-Linked</td>
                {% elif gene_info[3] == "XL" %}
                <td>X-Linked</td>
                {% else %}
                <td>{{gene_info[3]}}</td>
                {% endif %}
              </tr>
              <tr>
                <td><b>Start Coordinate (HG38): </b></td>
                <td>{{gene_info[4]}}</td>
              <tr>
              <tr>
                <td><b>End Coordinate (HG38): </b></td>
                <td>{{gene_info[5]}}</td>
              <tr>
            </table>
          </div>
          {% if results %}
          <br>
          <a href="/sample/{{sample}}">
            <h1 class="subtitle has-text-link">{{sample}}</h1>
          </a>
          <br>
          <div class="table-container">
            <table class="table is-hoverable is-narrow center">
                <tr>
                    <th title="Unique Result ID">ID</th>
                    <th title="Pattern identified by the Phaser">Pattern</th>
                    <th title="Matching Motif found in the database associated with this Gene">Pathological Motif Match</th>
                    <th title="Number of repeats of the pattern found in the sample">Num Repeats</th>
                    <th title="Minimum bound of repeats for Pathogenicity">Pathological Min</th>
                    <th title="Maximum bound of repeats for Pathogenicity">Pathological Max</th>
                    <th title="Percentage of the sequence that matches the motif">Match %</th>
                    <th title="The Allele the pattern was found on, according to the Phaser">Allele</th>
                    <th title="Phasing method">Phaser</th>
                    <th title="Pathogenicity, according to the number of repeats found compared to pathological maximum and minimum repeats associated with the matching motif">Category</th>
                </tr>
              {% for result in results %}
              <tr>
                <td><a href="/result/{{result[0]}}">{{result[0]}}</a></td>
                <td>{{result[1]}}</td>
                <td>{{result[2]}}</td>
                <td>{{result[3]}}</td>
                <td>{{result[4]}}</td>
                <td>{{result[5]}}</td>
                <td>{{result[6]}}</td>
                <td>{{result[7]}}</td>
                <td>{{result[8]}}</td>
                {% if result[9] == 'Likely Pathogenic' %}
                <td class="has-background-danger-light has-text-danger">{{result[9]}}</td>
                {% elif result[9] == 'Unknown' %}
                <td class="has-background-warning-light">{{result[9]}}</td>
                {% elif result[9] == 'Likely Non-Pathogenic' %}
                <td class="has-background-success-light has-text-success">{{result[9]}}</td>
                {% else %}
                <td></td>
                {% endif %}
              </tr>
              {% endfor %}
            </table>
          </div>
          {% endif %}
        </div>
        <div class="column is-one-quarter">
          <section class="section has-text-left">
            <h1 class="title is-4">Status</h1>
            <table class="table has-text-left is-size-6">
              <tr>
                <td><b>Status: </b></td>
                {% if status == "In Progress"%}
                    <td class="has-text-warning">In Progress</td>
                {% elif status == "Complete" %}
                    <td class="has-text-success">Complete</td>
                {% elif status == "Error" %}
                    <td class="has-text-danger">Error</td>
                {% else %}
                    <td></td>
                {% endif %}
              <tr>
                <td><b>Diagnosis: </b></td>
                {% if diagnosis == "Pathogenic"%}
                    <td class="has-text-danger">{{diagnosis}}</td>
                {% elif diagnosis == "Unknown" %}
                    <td class="has-text-warning">{{diagnosis}}</td>
                {% elif diagnosis == "Non-Pathogenic" %}
                    <td class="has-text-success">{{diagnosis}}</td>
                {% else %}
                    <td></td>
                {% endif %}
            </table>
            <button class="button is-warning is-light" onclick="toggle_edit()" id="edit_toggle">Edit Status</button>
            <br><br>
            <div id="status_form" style="display: none">
              <form method="POST">
                <div class="field">
                  <label class="label">Status</label>
                  <div class="control">
                    <div class="select">
                      <select name="status">
                        <option selected="selected" class="has-text-warning">In Progress</option>
                        <option class="has-text-danger">Error</option>
                        <option class="has-text-success">Complete</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field">
                  <label class="label">Diagnosis</label>
                  <div class="control">
                    <div class="select">
                      <select name="diagnosis">
                        <option selected="selected" value="Unknown" class="has-text-warning">Unknown</option>
                        <option value="Pathogenic" class="has-text-danger">Pathogenic</option>
                        <option value="Non-Pathogenic" class="has-text-success">Non-Pathogenic</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="field has-text-right">
                  <button class="button is-info is-light" value="Update Status" name="submit" type="submit" formmethod="post">Update</button>
                </div>
              </form>
            </div>
            <br>
            <h1 class="title is-4">Notes</h1>
            <button class="button is-success is-light" onclick="toggle_note()" id="note_toggle">Add Note</button>
            <br><br>
            <div id="note_form" style="display: none">
              <form method="POST">
                <div class="field">
                  <label class="label">Notes</label>
                  <div class="control">
                    <textarea name="note" class="textarea has-fixed-size" placeholder="Add any notes here..."></textarea>
                  </div>
                </div>
                <div class="field has-text-right">
                  <button class="button is-success is-light" name="submit" value="Add Note" type="submit" formmethod="post">Add</button>
                </div>
              </form>
              <br>
            </div>
            {% if notes %}
            {% for note in notes %}
            <form class="block">
              <div class="notification">
                <button class="delete" value="{{note[0]}}" name="delete" formmethod="post"></button>
                {{note[1]}}
              </div>
            </form>
            {% endfor %}
            {% endif %}
          </section>
          {% endif %}
        </div>
      </div>
    </section>
  </body>
