<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HAMSTR-WHL Homepage</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.css">
    <link rel="stylesheet" href="/static/style.css">
    <script></script>
    <style>
    </style>
  </head>
  <body>
    <section class="section has-text-centered">
      <a href="/">
        <img class="logo" src="/static/logo1.png">
        <p class="title is-1">HAMSTR-WHL</p>
      </a>
    </section>
    <section class="section has-text-centered">
      <form method="POST">
        <h1 class="subtitle">Sample Search</h1>
        <input type="text" class="input" style="width:33%;" id="sample" name="sample" placeholder="Enter a sample number">
        <input type="submit" class="button" value="Search">
      </form>
      {% if error %}
      <br>
      <p class="has-text-danger">{{error}}</p>
      {% endif %}
    </section>
    <section class="section has-text-centered">
      {% if matches %}
      <h1 class="subtitle">{{num_matches}} matches found for the search term {{sample}}</h1>
      {% for match in matches %}
      <a href="/sample/{{match[0]}}">
        <h1 class="is-link">{{match[0]}}</h1>
      </a>
      {% endfor %}
      {% endif %}
    </section>
  </body>
</html>
